$body-color = rgba(255,255,255,1)
$text-color-primary = rgba(51,51,51,1)
$font-family-primary = 'Open Sans', Arial, Verdana
$text-color-secondary = rgba(255,255,255,1)
$main-color = rgba(235,32,38,1)
$font-size = 16px

.acme-navbar-text
  color: white

body 
	padding 0
	margin 0
	border 0 
	smooting()
	border-box()
	font-family $font-family-primary
	background $body-color
	color $text-color-primary
	font-size $font-size

.jumbotron 
	padding-top 145px
	
.wrapper 
	position absolute
	width 100%
	top 0 
	height 100%
	left 0
	bottom 0
	right 0
	
.phone-number 
	background $main-color
	height 48px
	
.phone-list 
	list-style none 
	color $text-color-secondary
	height auto 
	line-height 48px
	li
		font-weight bold 
		display inline-block 
		vertical-align middle
		font-size 1.25rem 
		width 11%
		text-align center
		i 
			color darken($main-color, 30%)
			font-size 1.5rem
			margin-top 1rem 
			position: relative;
			top: .2rem;
		&:first-child 
			font-weight normal
			width 11%
			
.phone-number-content, .social-media 
	height 48px 
	
.social-media_fb 
	display block 
	line-height 48px
	img  
		height 30px
	
textarea.form-control 
	min-height 100px
	resize vertical
	
.scrolloff 
	pointer-events none
	
.no-padding
	padding 0 
	margin 0
	
.navbar-container 
	background $body-color 
	height auto
	margin-bottom 0
	
.navbar-header 
	height 97px
	
.navbar-brand 
	line-height 97px
	height 97px
	padding-left 70px
	padding-top .5rem
	
.navbar-nav
	height 97px
	width: 43%;
	li 
		height 100%
		a 
			line-height 97px
			padding 0 10px
			font-size 1.66rem
		&:first-child 
			margin-left 5%

.navbar-toggle 
	margin-top 30px
	margin-right 28px